{% for product in object_list %}
    {{ product.name }}
    Adicionar
    <form method="POST" action="{% url 'add-stock' product.id %}">
        {% csrf_token %}
        <input type="number" name="amount" min="1">
        <input type="submit" value="Adicionar ao Estoque">
    </form>
    <br>
    Remover
    <form method="POST" action="{% url 'remove-stock' product.id %}">
            {% csrf_token %}
            <input type="number" name="amount" min="1">
            <input type="submit" value="Remover do Estoque">
    </form>
    {{ product.amount }}
{% endfor %}